@import './scss/_variables';
@import './scss/header';
@import './scss/footer';

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
}