@import './variables';

header {

    .middle-header {
        text-align: center;
        margin: 20px 0;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0 30px;
            align-items: center;

            li {
                color:#8D8D8D;
                font-family: $robotoMFont;
                font-size: 12px;
                font-weight: 400;

             &::after {
                content: " | ";
                    color: #E1E1E1;
                    position: relative;
                    left: 15px;
                }

                &:last-child::after {
                    content: '';
                }

                img {
                    position: relative;
                    top: 5px;
                }
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0;
        gap: 20px 0;
        @media(max-width: 480px) {
            justify-content: center;
        }

        ul {
            list-style: none;
        }

        .header-left, .header-right {
            ul {
                display: flex;
                gap: 0 20px;
                align-items: center;
                li {
                    font-size: 16px;
                    font-weight: 800;
                    letter-spacing: 0.2px;
                    font-family: $IBMFont;

                    &.subscribe {
                        background-color: $primaryColor;
                        padding: 10px 20px;
                        font-family: $IBMFont;
                        font-size: 16px;
                        font-weight: 800;
                        letter-spacing: 0.2px;
                        border-radius: 2px;
                        
                        a {
                        
                            color: #fff !important;
                        }
                    }

                    a {
                        color: #000;
                    }

                    img {
                        position: relative;
                        top: 5px;
                        margin-right: 5px;
                    }

                }
            }
        }
    }

    nav.menu {
        ul {
            list-style-type: none;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0 30px;
            align-items: center;
            padding: 20px 0;
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;

            li {
                color: #000;
                font-family: $IBMFont;
                font-size: 14px;
                font-weight: 700;

                &::after {
                content: " | ";
                color: #E1E1E1;
                position: relative;
                left: 15px;
                }

                &:last-child::after {
                    content: '';
                }
                
            }
        }
    }
}



// Menu in mobile 

@media(max-width: 767px) {
    .menu-mobile {
        display: block;
        background-color: #fff;
        border: 1px solid #E1E1E1;
        padding: 20px 10px;

        ul {
            list-style-type: none;

            li {
                line-height: 35px;
                color: #000;
                font-family: $IBMFont;
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }

    .desktop {
        display: none;
    }


}

@media(min-width: 768px) {
    .menu-mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
    
    .hide-mobile {
        display: none;
    }
}

#menu {
    display: none;
    width: 0;
}